/Calculadora/target/
/Ejercicio25/nbproject/private/
/Ejercicio26/nbproject/private/
/Ejercicio27/nbproject/private/
/Ejercicio27p2/nbproject/private/
/Ejercicio29/nbproject/private/
/Ejercicio29p2/nbproject/private/
/Ejercicio25/build/
